[core]
	quotepath = false
	editor = vim
	excludesfile = ~/.gitignore_global
	pager = less -i
	autocrlf = input
[alias]
	st = status -sb
	ci = commit
	co = checkout
	cp = cherry-pick
	br = branch
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue- %an %Cgreen(%cr)%Creset' --date=relative --date-order
	lgs = log --stat --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue- %an %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --date-order
	lgss = log --shortstat --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue- %an %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --date-order
	lgf = log --first-parent --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue- %an %Cgreen(%cr)%Creset' --date=relative --date-order
	lgfs = log --first-parent --stat -m --graph  --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue- %an %Cgreen(%cr)%Creset' --date=relative --date-order
	dif = diff --ignore-space-at-eol -b -w --ignore-blank-lines
	diffs = diff -p --stat
	stat = diff --stat
	diffm = diff -p --stat --diff-filter=M
	diffw = diff --color-words -p --stat
	diffc = diff --color-words='.' -p --stat
	diffnw = diff -w -p --stat
	
	# Show files ignored by git:
	ign = ls-files -o -i --exclude-standard

	assume   = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
	up = "!git remote update -p; git merge --ff-only @{u}"
	genignore = "!gi() { curl -sL http://www.gitignore.io/api/$@ ;}; gi"

[user]
	name = Vince Mi
	email = vinc3m1@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[push]
	default = current
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
[merge]
	defaultToUpstream = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[init]
	defaultBranch = main
